@{
    ViewData["Title"] = "Anasayfa";
}

@model IEnumerable<Kitap>

<section class="static about-sec">
    <div class="container">
        <h2>yeni eklenen kitaplar</h2>
        <div class="recent-book-sec">
            <div class="row">
                @if (Model.Any())
                {
                    @foreach (var _kitap in Model)
                    {
                        <div class="col-md-3">
                            <div class="item">
                                <img src="https://i.hizliresim.com/TRzC3T.jpg" alt="img">
                                <h3><a asp-controller="Home" asp-action="BookDetails" asp-route-searchId="@_kitap.Id">@_kitap.Ad_TR</a></h3>
                                <h6><span class="price">@_kitap.Fiyat TL</span> / <a asp-controller="Home" asp-action="BookDetails" asp-route-searchId="@_kitap.Id">Satın Al</a></h6>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <p style="margin-left:50px;">Yeni eklenen kitap yok.</p>
                }
            </div>
        </div>
    </div>
</section>

@*<div class="text-center">
        <h1 class="display-4">Hoşgeldiniz</h1>
        <p>Ana sayfa :)</p>
    </div>*@
