@model BookstoreProject.Models.Language

@{
    ViewData["Title"] = "Dil Duzenle";
}

<h1>Duzenle</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name_TR" class="control-label"></label>
                <input asp-for="Name_TR" class="form-control" />
                <span asp-validation-for="Name_TR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name_EN" class="control-label"></label>
                <input asp-for="Name_EN" class="form-control" />
                <span asp-validation-for="Name_EN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Listeye Geri Don</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
