@model BookstoreProject.Models.Author

@{
    ViewData["Title"] = "Yazar Detaylari";
}
<div class="container">
    <h1>Detaylar</h1>
    <div>

        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Active)
            </dt>
            @if (Model.Active == true)
            {
                <dt class="col-sm-10">
                    <span class="circle green"></span>
                </dt>
            }
            else
            {
                <dt class="col-sm-10">
                    <span class="circle red"></span>
                </dt>
            }
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Duzenle</a> |
        <a asp-action="Index">Listeye Geri Don</a>
    </div>
</div>