@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer;
@model BookstoreProject.Models.Author

@{
    ViewData["Title"] = localizer["Title"].Value;
}
<div class="container">
    <h1>@localizer["Title"]</h1>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="Active" />
                <div class="form-group">
                    <input type="submit" value="@localizer["Save"]" class="btn btn-block btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <form asp-action="Index">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <input type="submit" value="@localizer["GoBackToList"]" class="btn btn-block btn-primary" />
                </div>
            </div>
        </div>
    </form>

</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
