

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row">
        <div class=" col-md-6">
            <form asp-controller="Books" asp-action="Index">
                <div class="form-group">
                    <input type="submit" value="Kitap Listesi" class="btn btn-block btn-primary" />
                </div>
            </form>
        </div>
        <div class=" col-md-6">
            <form asp-controller="Authors" asp-action="Index">
                <div class="form-group">
                    <input type="submit" value="Yazar Listesi" class="btn btn-block btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class=" col-md-6">
            <form asp-controller="Categories" asp-action="Index">
                <div class="form-group">
                    <input type="submit" value="Kategori Listesi" class="btn btn-block btn-primary" />
                </div>
            </form>
        </div>
        <div class=" col-md-6">
            <form asp-controller="Languages" asp-action="Index">
                <div class="form-group">
                    <input type="submit" value="Dil Listesi" class="btn btn-block btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class=" col-md-6">
            <form asp-controller="Admin" asp-action="OrderList">
                <div class="form-group">
                    <input type="submit" value="Bekleyen Siparişler" class="btn btn-block btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
