@model BookstoreProject.Models.Book

@{
    ViewData["Title"] = "Kitap Duzenle";
}
<div class="container">
    <h1>Duzenle</h1>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Name_TR" class="control-label"></label>
                    <input asp-for="Name_TR" class="form-control" />
                    <span asp-validation-for="Name_TR" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Name_EN" class="control-label"></label>
                    <input asp-for="Name_EN" class="form-control" />
                    <span asp-validation-for="Name_EN" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description_TR" class="control-label"></label>
                    <input asp-for="Description_TR" class="form-control" />
                    <span asp-validation-for="Description_TR" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description_EN" class="control-label"></label>
                    <input asp-for="Description_EN" class="form-control" />
                    <span asp-validation-for="Description_EN" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Stock" class="control-label"></label>
                    <input asp-for="Stock" class="form-control" />
                    <span asp-validation-for="Stock" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PublishYear" class="control-label"></label>
                    <input asp-for="PublishYear" class="form-control" />
                    <span asp-validation-for="PublishYear" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CategoryId" class="control-label"></label>
                    <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LanguageId" class="control-label"></label>
                    <select asp-for="LanguageId" class="form-control" asp-items="ViewBag.LanguageId"></select>
                    <span asp-validation-for="LanguageId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AuthorId" class="control-label"></label>
                    <select asp-for="AuthorId" class="form-control" asp-items="ViewBag.AuthorId"></select>
                    <span asp-validation-for="AuthorId" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                    </label>
                </div>
                <div class="form-group">
                    <label asp-for="MainPhotoFile" class="control-label"></label>
                    <input asp-for="MainPhotoFile" class="form-control" />
                    <span asp-validation-for="MainPhotoFile" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SecondPhotoFile" class="control-label"></label>
                    <input asp-for="SecondPhotoFile" class="form-control" />
                    <span asp-validation-for="SecondPhotoFile" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ThirdPhotoFile" class="control-label"></label>
                    <input asp-for="ThirdPhotoFile" class="form-control" />
                    <span asp-validation-for="ThirdPhotoFile" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Kaydet" class="btn btn-block btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <form asp-action="Index">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <input type="submit" value="LİSTEYE GERİ DÖN" class="btn btn-block btn-primary" />
                </div>
            </div>
        </div>
    </form>
</div>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
